body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.button_1 {
  color: white;
  background-color: #ff5200;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  margin: 10px;
}
header {
  background-color: #00263b;
  border-bottom: solid;
  border-color: #ff5200;
  color: white;
  border-width: 5px;
  padding-top: 20px;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
header a:hover {
  color: #ff5200;
  font-weight: bold;
}
header ul {
  margin: 0;
  list-style-type: none;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
nav {
  margin-top: 30px;
  float: right;
}
#branding {
  float: left;
}
span {
  color: #ff5200;
}

/*showcase*/

#showcase {
  min-height: 400px;
  background: url('https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg')
    no-repeat 0 -100px;
  text-align: center;
  color: white;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 40px;
}
#showcase p {
  margin-top: 50px;
  font-size: 20px;
}
/*newsletter*/
#newsletter {
  background-color: #00263b;
  color: white;
  padding: 20px;
}
#newsletter h3 {
  margin-top: 20px;
  float: left;
  font-size: 20px;
}
#newsletter form {
  float: right;
  margin-top: 10px;
}
#newsletter input {
  padding: 10px;
  height: 10px;
  width: 200px;
}
/*boxes*/
#boxes {
  margin-top: 30px;
  text-align: center;
}
#boxes .box {
  float: left;
  width: 30%;
  margin-left: 20px;
}
#boxes .box .boxImg {
  width: 30%;
}
#boxes .box p {
  font-size: 15px;
}

/*footer*/
footer {
  background-color: #ff5200;
  text-align: center;
  padding: 30px;
}
footer p {
  color: white;
  margin: 0;
}
