body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  margin: auto;
  width: 80%;
  overflow: hidden;
}

header {
  background-color: #00263b;
  border-bottom: solid;
  border-color: #ff5200;
  color: white;
  border-width: 5px;
  padding-top: 20px;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
header a:hover {
  color: #ff5200;
  font-weight: bold;
}
header ul {
  margin: 0;
  list-style-type: none;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
nav {
  margin-top: 30px;
  float: right;
}
#branding {
  float: left;
}
span {
  color: #ff5200;
}

/*showcase*/

#showcase {
  min-height: 400px;
  background: url('https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg')
    no-repeat 0 -100px;
  text-align: center;
  color: white;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 40px;
}
#showcase p {
  margin-top: 50px;
  font-size: 20px;
}
/*footer*/
footer {
  background-color: #ff5200;
  text-align: center;
}
footer p {
  color: white;
  padding: 30px;
}
/*


.showcase {
  position: relative;
  text-align: center;
}
.showcase img {
  width: 100%;
  background-color: #00263b;
  opacity: 0.8;
}
.showcase p {
  color: white;
  position: absolute;
  top: 300px;
  left: 200px;
  font-size: 1.3rem;
}
.showcase h1 {
  position: absolute;
  top: 200px;
  left: 300px;
  font-size: 2.5rem;
}
.newsletter {
  background-color: #00263b;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20%;
}
.newsletter h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 200px;
  font-size: 1.6rem;
}
input {
  position: absolute;
  top: 32px;
  right: 400px;
  height: 20px;
  width: 220px;
}
.buttom_1 {
  position: absolute;
  top: 30px;
  right: 250px;
  width: 120px;
  height: 30px;
  background-color: #ff5200;
  border: none;
  color: white;
}
*/
